.Header_Navbar-item {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0 20px;
  img {
    width: 24px;
    height: 24px;
  }
  .Header_Navbar-item-name {
    text-decoration: none;
    font-weight: 600;

    &:hover {
      color: red;
    }
  }
}
