.LogIn-Form {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.08);
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;

  .LogInForm_wrapper {
    width: 400px;
    height: 530px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;

    .logIn_delete {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      span {
        font-size: 18px;
        background-color: rgb(200, 197, 194);
        width: 30px;
        display: block;
        border-radius: 50%;
        cursor: pointer;
      }
    }
    .logIn_title {
      width: 100%;
      padding: 10px;
      text-align: start;
    }

    .logIn_node {
      width: 100%;
      padding: 10px;
      text-align: start;
    }

    form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      margin-top: 10px;
      padding: 10px;
      gap: 20px;

      .logInBlock {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 5px;
        label {
          width: 100%;
          display: block;
          padding: 4px;
          text-align: start;
          font-size: 18px;
          font-weight: 500;
        }

        input {
          width: 250px;
          padding: 5px;
          font-size: 16px;
          border: 1px solid rgba(0, 0, 0, 0.13);
          border-radius: 3px;
        }
        p {
          color: red;
          padding: 3px;
        }
      }
      .logIn_checkbox {
        width: 100%;
        padding: 5px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        input {
          width: 20px;
          height: 20px;
        }
        span {
          font-size: 16px;
          font-weight: 600px;
        }
      }
      .logIn_button {
        width: 100%;
        padding: 5px;

        button {
          padding: 5px;
          font-size: 18px;
          border-radius: 3px;
          background-color: var(--primary-color);
          color: white;
          font-weight: 600;
          width: 100%;
          cursor: pointer;
        }
      }
    }
  }
}
